<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial - Aquário Profissional</title>
    <link rel="stylesheet" href="../style/tela_inicial.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div> <!-- Ícone de Menu -->
        <h1>Aquário</h1>
    </header>
    <nav class="toolbar" id="toolbar">
        <div id="sidebar_content">
            <div id="user">
                <img src="src/images/avatar.jpg" id="user_avatar" alt="Avatar">
                <p id="user_infos">
                    <span class="item-description">Fulano de Tal</span><br>
                    <span class="item-description">Lorem Ipsum</span>
                </p>
            </div>
            <ul id="side_items">
                <li class="side-item active">
                    <a href="#"><i class="fa-solid fa-chart-line"></i><span class="item-description">Perfil</span></a>
                </li>
                <li class="side-item">
                    <a href="#"><i class="fa-solid fa-user"></i><span class="item-description">Cadastrar Aquário</span></a>
                </li>
                <li class="side-item">
                    <a href="#"><i class="fa-solid fa-bell"></i><span class="item-description">Meus Aquários</span></a>
                </li>
               
                <li class="side-item">
                    <a href="#"><i class="fa-solid fa-gear"></i><span class="item-description">Configurações</span></a>
                </li>
            </ul>
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
        
        <div id="logout">
            <button class="theme-toggle" id="theme-toggle" title="Toggle light & dark" aria-label="auto" aria-live="polite">
                <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
                    <mask class="moon" id="moon-mask">
                        <rect x="0" y="0" width="100%" height="100%" fill="white" />
                        <circle cx="24" cy="10" r="6" fill="black" />
                    </mask>
                    <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
                    <g class="sun-beams" stroke="currentColor">
                        <line x1="12" y1="1" x2="12" y2="3" />
                        <line x1="12" y1="21" x2="12" y2="23" />
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                        <line x1="1" y1="12" x2="3" y2="12" />
                        <line x1="21" y1="12" x2="23" y2="12" />
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                    </g>
                </svg>
            </button>
            
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">Logout</span>
            </button>
        </div>
    </nav>

    <main>
    <div class="card-container">
        <div class="card">
            <img src="../img/Aquario_esfera.jpg">
            <div class="card-content">
                <h3>Aquário esfera</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                <a href="" class="btn">Veja Mais</a>
            </div>
        </div>
        <div class="card">
            <img src="../img/Aquario_quadrado.jpg">
            <div class="card-content">
                <h3>Aquário quadrado</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                <a href="" class="btn">Veja Mais</a>
            </div>
        </div>
        <div class="card">
            <img src="../img/Aquario_retangulo.jpg">
            <div class="card-content">
                <h3>Aquário retangular</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. </p>
                <a href="" class="btn">Veja Mais</a>
            </div>
        </div>
    </div>
    </main>
    <script src="../script/tela_incial.js"></script>

    
    <script>
        function toggleMenu() {
            const toolbar = document.getElementById('toolbar');
            toolbar.classList.toggle('active'); // Adiciona ou remove a classe 'active'
        }
    </script>

</body>
</html>
