@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 95px 10px;
}

.info-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-title h2 {
    font-size: 25px;
    font-weight: 500;
    color: #5c8700;
    text-align: left;
    text-transform: uppercase;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

table {
    width: 900px;
    border-collapse: collapse;
    margin-top: 10px;
}
  
table, th, td {
    width: 10%;         /* Ocupa toda a largura disponível */
    height: 100%;        /* Ocupa toda a altura disponível */
    border: 1px solid #000000;
    padding: 10px;
}
  
th {
    background-color: #005070;
    color: #F5F7FA;
    text-align: center;
}
  
td {
    text-align: center;
}

tbody{
    background-color: #F5F7FA;
    color: #002E41;
    text-align: left;
}

#tabela-relatorios {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    display: block;
    border-bottom: 1px solid #000000;
    padding: 0px;
    scrollbar-width: 20px; 
    scrollbar-color: #A5BE00 #f0f0f0;
}
  
#tabela-relatorios::-webkit-scrollbar {
    width: 15px; 
}
  
#tabela-relatorios::-webkit-scrollbar-track {
    background-color: #f0f0f0; 
    border-radius: 50px;
}
  
#tabela-relatorios::-webkit-scrollbar-thumb {
    background-color: #A5BE00; 
    border-radius: 50px; 
    border: 3px solid #f0f0f0; 
}

#tabela-relatorios::-webkit-scrollbar-thumb:hover {
    background-color: #5c8700; 
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}
  
.button-container button {
    padding: 10px 20px;
    font-family: 'Poppins';
    width: 170px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
  
.button-container a {
    text-decoration: none;
    color: inherit; /* Herda a cor do botão */
    transform: scale(1.05);
}

.button-container button:first-child {
    background-color: #A5BE00;
}
  
.button-container button:first-child:hover {
    background-color: #5c8700;
}

.button-container button {
    background-color: #005070;
}
  
.button-container button:hover {
    background-color: #002E41;
}
