/* Definições gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', 'Irish Grover';
}

/* Definindo a imagem de fundo */
body {
    background-image: url('fundoCad.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilizando o container principal */
.container {
    width: 850px;
    padding: 40px;
    border-radius: 25px;
    background: rgba(1, 2, 3, 0.85);
    background-blend-mode: multiply;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.40);
    display: center;
    flex-direction: column;
    gap: 10px;
    
}

/* Estilizando o container do título e subtítulo */
.header-container {
    text-align: center;
    gap: 0px;
}

/* Estilo do título */
h1 {
    color: #EBF2FA;
    font-family: 'Irish Grover';
    font-size: 45px;
    font-weight: 400;
    gap: 0px;
}

h2 {
    color: #EBF2FA;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
}

/* Estilizando o formulário */
.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilizando os grupos de input */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilizando os campos de entrada */
.input-box {
    display: center;
    flex-direction: column;
    font-weight: 300;
    gap: 0px;
}

/* Estilizando os labels para que sejam cortados pela metade */
.input-box label {
    display: block;
    color: #EBF2FA;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    line-height: 2; /* Define o espaçamento de linha */
    height: 50%; /* Define a altura visível como metade */
    overflow: hidden; /* Oculta a parte que excede a altura */
}


.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #EBF2FA;
    background: rgba(235, 242, 250, 0.15);
    color: rgba(235, 242, 250, 0.65);
    font-family: 'Poppins';
    font-size: 15px;
    outline: none;
}

/*Estilizando icone para ver/nao ver a senha*/
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 50px; /* Espaço para o ícone */
}

.toggle-password {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle-password svg {
    width: 35px;
    height: 35px;
    fill: none;
    stroke:#EBF2FA; /* Cor do ícone */

}


/* Estilizando o container do botão de cadastro e mensagem */
.footer-container {
    text-align: center;
    padding-top: 30px;
}

/* Estilo do botão de cadastro */
button {
    width: 355px;
    padding: 10px;
    border-radius: 100px;
    background: #A5BE00;
    border: none;
    cursor: pointer;
    color: #E8ECF1;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

button:hover {
    background: #000;
    color: #A5BE00;
    border: 2px solid #A5BE00;
}

/* Estilo da mensagem de login */
.footer-container h2 {
    color: #EBF2FA;
    font-family: 'Poppins';
    font-size: 15px;
}

.footer-container a {
    color: #A5BE00;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

