@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 95px 10px;
    align-items: center;
}

.info-container {
    width: auto;
    height: auto;
    border-radius: 25px;
    background: #F5F7FA;
    box-shadow: 0px 5px 10px 0px #0000002a;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.info-container img {
    width: 370px;
    height: 370px;
    object-fit: cover;
}

.info-text {
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.title-container{
    display: flex;
    align-items: first baseline;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.title-container h2 {
    color: #002E41;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.title-container p {
    color: #002E41;
    font-size: 25px;
    font-weight: 500;
}

.text-container {
    color: #002E41;
    font-size: 18px;
    font-weight: 500;
}

.button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    gap:20px;
}

.button-section button {
    font-family: 'Poppins';
    padding: 5px 30px;
    width: 170px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  /* Botão "Voltar" */
.button-section button a {
    transform: scale(1.05);
    color: #fff;
    text-decoration: none;
}
  
.button-section button:first-child {
    background-color: #A5BE00;
}
  
.button-section button:first-child:hover {
    background-color: #5c8700;
}
  
  /* Botão "Editar" */
.button-section button {
    background-color: #005070;
}
  
.button-section button:hover {
    background-color: #002E41;
}


#delete-btn {
    background-color: #be0000;
}
  
#delete-btn:hover {
    background-color: #870000;
}
